:root {
	--darkblue:  rgb(3, 4, 94);
	--mediumblue: rgb(87, 117, 144);
	--darkblack: rgb(33, 37, 41);
	--darkgrey: rgb(52, 58, 64);
	--lightgrey: rgb(108, 117, 125);
	--red: rgb(249, 65, 68);
}

body {
	font-family: Georgia;
	background: var(--darkgrey);
}

h1 {
	margin: 50px;
	font-size: 50px;
	text-align: center;
	padding: 10px;
}

div {
	background: var(--darkblack);
	color: var(--lightgrey);

	height: 500px;
	padding: 15px;
	width: 45%;
	margin: auto;
}

button {
	color: var(--darkblack);
	cursor: pointer;
	border: none;
	border-radius: 12px;
	display: block;
	font-size: 15px;
	height: 10%;
	margin: auto;
	margin-bottom: 15px;
	opacity: .8;
	width: 35%;
}

p {
	font-size: 40px;
	padding-top: 90px;
	padding-bottom: 40px;
	text-align: center;
}

p.winnings {
	padding: 0;
}

p.loser {
	color: var(--red);
}

.options {
	display: flex;
}

#high-score {
	color: var(--lightgrey);
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 25px;
}

button:hover {
	opacity: 1;
}

.higher {
	background-color: var(--red);
}

.lower {
	background-color: var(--mediumblue);
}

ul {
	list-style-type: none;
	overflow: hidden;
	margin: auto;
	padding: 0;
}

li {
	font-size: 20px;
	float: left;
	background-color: var(--darkblack);
	margin: 0 15px;
	padding: 40px;
}

li a {
  display: block;
  color: var(--lightgrey);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}