<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
	</head>
	<body onload="storageCheck()">
		<header>
			<h1>Higher or Lower Orgs Earnings</h1>
			<p id="high-score"></p>
		</header>
		<section class="options home-page">
			<ul>
				<li><a href="http://127.0.0.1:8000/gameRL">Rocket League</a></li>
				<li><a href="http://127.0.0.1:8000/game">Dota 2</a></li>
				<li><a href="http://127.0.0.1:8000/game">Valorant</a></li>
			</ul>
		</section>
		<script type="text/javascript" src="../static/index.js"></script>
	</body>
</html>